<% if logged_in? %>
  <p>ログインユーザ: <%= current_user.name %></p>

  <ul>
    <% @tasks.each do |task| %>
      <li><%= link_to task.id, task %> : <%= task.status %> &gt; <%= task.content %></li>
    <% end %>
  </ul>

  <%= link_to '新規タスクの作成', new_task_path %>
  
  <%= link_to 'Logout', logout_path, method: :delete %>

<% else %>
  <div>
    <%= link_to 'Sign up', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
  
  <div>
    <%= link_to 'Login', login_path, class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
